
# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
.venv/

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Media & static files
media/
/staticfiles/
/static/

# Environment & config
.env
.env.*

# IDE / editor files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
